.git
.gitconfig
__friend_venv/
media/
backups/
node_modules/
.idea/
.bash_history
.ssh
.ssh/
*.pyc
*.log
*.dump
package-lock.json
.vscode-server/
media/
.cache/
.local/
.pylint.d/
cache/
.fuse_*
__pycache__/
env/
venv/
.idea/
.vscode/
.config/
.bash_logout
.bash_profile
.bashrc
.editorconfig
.npm
.env