{% extends "encrypt/base.html" %}

{% block content %}
{% load encrypt_tags %}
<div class="limiter">
	<div class="container-login100" style="background-image: url('{{ STATIC_URL }}images/bg-01.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
			<form class="login100-form validate-form" action="" method="POST" enctype="application/x-www-form-urlencoded">
				{% csrf_token %}
				<span class="login100-form-title p-b-49">
					AES Locker
				</span>
				<div class="wrap-input100 validate-input m-b-23" data-validate="Text is required">
					<span class="label-input100">Text to be encrypted.</span>
					{{ form.text|attr:"class=input100"|attr:"style=height:150px" }}
					<span class="focus-input100" data-symbol="&#xf105;"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100">Password. You must save it</b></span>
					{{ form.password|attr:"class=input100" }}
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>
				<div class="wrap-input100 validate-input m-t-20">
					<!-- https://codepen.io/herteleo/pen/LraqoZ -->
					<span class="label-input100">Hours locked. 0 means «No lock».</span>
					{{ form.hours_locked|attr:"class=input100" }}
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>

				<div class="p-b-20 p-t-20">	
					<div class="contact100-form-checkbox">
						{{ form.can_be_deleted|attr:"class=input-checkbox100" }}					
						<label class="label-checkbox100" for="ckb1">
							Delete record
						</label>
					</div>
				</div>				
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button type="submit" class="login100-form-btn">
							Encrypt
						</button>
					</div>
				</div>
				<div class="txt1 text-center p-t-54 p-b-20">
					<span>
						<a href="{{ SITE_URL }}" style="color:blue">AES Locker</a>. Created by Sobolev Andrey. This project is <a href="https://github.com/Sobolev5" style="color:green">open source</a> and free for commercial use.
					</span>
				</div>
				<div class="flex-c-m">
					<a href="https://github.com/Sobolev5" class="login100-social-item bg2">
						<i class="fa fa-github"></i>
					</a>
					<a href="mailto:email.asobolev@gmail.com" class="login100-social-item bg3">
						<i class="fa fa-google"></i>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}